/****** Object:  Database [Machines]    Script Date: 25/12/2022 10:14:14 am ******/
CREATE DATABASE [Machines]   WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF;
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 25/12/2022 10:14:14 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjMachines]    Script Date: 25/12/2022 10:14:14 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjMachines](
	[Line_ID] [int] NOT NULL,
	[Machine_Name] [varchar](100) NULL,
	[Product_ID] [int] NOT NULL,
	[Process_time] [float] NOT NULL
) ON [PRIMARY]
GO
