<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <title>View Machines List</title>
    <link rel="stylesheet" crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
    </script>
</head>

<body>
    <h1>Current User: {{session.username}}</h1>
    <a class="btn btn-primary" href="searchmachine">Search for Machine</a>
    <a class="btn btn-primary" href="addmachine">Add New Machine</a>
    <a class="btn btn-dark" href="{{ url_for('logout') }}" class="btn">Logout</a>
    <h2>View Machines List</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Line ID</th>
                <th scope="col">Machine Name</th>
                <th scope="col">Product ID</th>
                <th scope="col">Process Time</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for machine in machines %}
            <tr>
                <td>{{ machine.lid }}</th>
                <td>{{ machine.name }}</td>
                <td>{{ machine.pid }}</td>
                <td>{{ machine.time }}</td>
                <td><a href='updatemachine/{{ machine.pid }}'><i class="fa fa-pencil"></i></a></td>
                <td><a href='deletemachine/{{ machine.pid }}'><i class="fa fa-trash"
                            onclick="return confirm('Are you sure you want to delete this machine? This action is irrevisible.');"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>